

.nav-item1{
    text-align: center;
    flex-grow: 2;
}

.nav-item{
    text-align: center;
    flex-grow: 2;
    margin: 0 10px; /*some space mabnhom*/
}

.nav-link {  
    padding: 10px 20px; 
    font-size: 18px;       
    transition: background-color 0.3s; 
}  

.nav-link:hover {  
    background-color: rgba(82, 189, 219, 0.1);    
}
.navbar-nav {  
    display: flex;   
    justify-content: center;
    align-items: center;     
    width: 100%;
    height: 20%;
}

.profile-button {  
    margin-right: auto; 
}  


.main-img{
    width:100%;
    height: 750px;
    display: block;

}
.second-img{
    position:absolute;
    top: 600px;;
    left: 10px;
    width: 200px; ;
    height: 200px; ;

}

.first {  
    position: relative;  
    text-align: center;  
}  
.bttns { 
     display: flex;
     bottom: -68px;
     left: 2px;
     display: flex;
    flex-direction: row;
   
    position: absolute;
    gap: 5px;
    
   
    border-radius: 10px;
    background: goldenrod;
}  

.btn-primary,   
.btn-secondary {  
    color: white;  
    text-decoration: none;  
    padding: 10px 20px;  
    border-radius: 5px;  
    display: inline-block;  
    margin-bottom: 10px 0;
}
.txt{
    position: relative; /* Positioning context for absolute children */  
    width: 100%; /* Full width */  
    max-width: 1450px; /* Maximum width for the image */  
    margin: auto;
    text-align: left;
    z-index: 10;
}